{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "tabWidth": 4,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^react$",
    "^react-.*$",
    "<THIRD_PARTY_MODULES>",
    "^[./]"
  ],
  "importOrderSeparation": false
}
