<!doctype html>
<!--suppress ALL -->
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta
            name="viewport"
            content="minimum-scale=1, initial-scale=1, width=device-width"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="./src/icons/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="./src/icons/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="./src/icons/favicon-16x16.png"
        />
        <link
            rel="mask-icon"
            href="./src/icons/safari-pinned-tab.svg"
            color="#5bbad5"
        />

        <meta name="msapplication-TileColor" content="#941739" />
        <meta name="theme-color" content="#ffffff" />
        <title><%= title %></title>
        <script>
            window.gbans = {
                build_version: "<%= build_version %>",
                discord_link_id: "<%= discord_link_id %>",
                asset_url: "<%= asset_url %>",
                bucket_demo: "<%= bucket_demo %>",
                bucket_media: "<%= bucket_media %>",
            }
        </script>
        <style>
            body {
                overflow-y: scroll;
            }
            .img_media {
                max-width: 100%;
                max-height: 100%;
            }
        </style>
    </head>
    <body>
        <div id="root"></div>
    </body>
</html>
