{{define "chat_status_update"}}
    # Updated chat status
    Status: {{.Status}}
    Reason: {{.Reason}}
    Name: {{.Name}}
    SteamID: {{.SteamID}}
{{end}}

{{define "chat_purge"}}
    # Player queue message purge
    Message: {{.Message}}
    Count: {{.Count}}
    Name: {{.Name}}
    SteamID: {{.SteamID}}
{{end}}