#SENTRY_DSN=https://xxxxxxxxxxxxxxxxxxxxxxxxx
#STEAM_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
#SOURCEMOD_SCP_URI=tst-1.internal.abc.com:/home/tf2server/srcds-tst-1/tf/addons/sourcemod/plugins/
#SOURCEMOD_HOST=tst-1.internal.abc.com
#SOURCEMOD_PORT=27015
#SOURCEMOD_RCON=abcabc
#SOURCEMOD_RELOAD_COMMAND="sm plugins reload gbans"
#DEMOSTATS_BIN=../tf2_demostats/dist/cli_x86_64-unknown-linux-musl/tf2_demostats
