* text=auto
docs/*              linguist-documentation
go.sum              linguist-generated merge=ours
go.mod              linguist-generated

/.github            export-ignore
.gitattributes      export-ignore
.gitignore          export-ignore

/frontend/src/icons/* binary
/frontend/src/fonts/* binary
*.js text
*.json text
*.ts text
*.md text
*.yml text

*.dem binary
*.png binary
*.jpg binary
*.jpeg binary
*.dem binary
*.zip binary
*.eot binary
*.woff binary
*.woff2 binary
