# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
sbpp
sourcepawn
.idea/
sourcemod/.vscode/
*.sqlite
/gbans.yaml
*.txt
/gbans
/frontend/dist/
/frontend/node_modules/
/tf2server/
/.cache/
/frontend/.cache/
*.yaml
*.yml
/frontend/lib/
*.js
*.jsx
/internal/web/dist/
/out/production/gbans/
/build/
/*.zip
node_modules
/seed.json
