* text=auto eol=lf
docs/*              linguist-documentation eol=lf
go.sum              linguist-generated merge=ours eol=lf
go.mod              linguist-generated eol=lf

/.github            export-ignore eol=lf
.gitattributes      export-ignore eol=lf
.gitignore          export-ignore eol=lf

/frontend/src/icons/* binary
/frontend/src/fonts/* binary
*.js text eol=lf
*.json text eol=lf
*.ts text eol=lf
*.md text eol=lf
*.yml text eol=lf

*.dem binary
*.png binary
*.jpg binary
*.jpeg binary
*.dem binary
*.zip binary
*.eot binary
*.woff binary
*.woff2 binary
