# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
.idea/
sourcemod/.vscode/

*.yml
/*.yaml
!gbans_example.yml

*.sql
!/internal/database/migrations/*.sql

*.txt
/frontend/dist/
/frontend/node_modules/
/.cache/
/frontend/.cache/

/frontend/lib/
*.js
*.jsx
/dist
!/internal/web/dist/.gitkeep
/out/production/gbans/
/build/
/*.zip
node_modules
.env*

/unhandled_messages.log
*.privatekey.vdf
*.publickey.vdf
.vscode
*.smx
/.github_releaser_token
parse_demo
/frontend/.env.sentry-build-plugin
/frontend/stats.html
.cache
/assets/
/frontend/.env.*
/gbans
.zed
frontend/.tanstack
TODO*
