{{define "seed_req"}}
# 🌱 Seed Request

### {{ if .CC }}:flag_{{ .CC }}: {{end}}{{ .Name }}

Players: {{ .State.PlayerCount }}/{{ .State.MaxPlayers }}

`connect {{ .Connect }}`

{{ range .Roles }}{{ if .}}<@&{{ . }}> {{end}}{{end}}
{{end}}
