{{define "forum_cat_save"}}
    # Forum Category Saved
    Category: {{ .Category }}
    ID: {{ .ID }}
    Description: {{ .Description }}
{{end}}

{{define "forum_cat_deleted"}}
    # Forum Category Deleted
    Category: {{ .Category }}
    ID: {{ .ID }}
    Description: {{ .Description }}
{{end}}

{{define "forum_message_created"}}
🗂️ {{ .Parents.Category.Title }}
💬 [{{ .Parents.Forum.Title }}]({{ .Parents.Forum | linkPath }})
{{if .Parents.Thread.Sticky}}📌 {{end}}{{ if .Parents.Thread.Locked }}🔒 {{end}}🧵[{{ .Parents.Thread.Title }}]({{ .Parents.Thread | linkPath }}) - #{{.Parents.Thread.Replies }}
🪡 Posted by: [{{ .Author.GetName }}]({{ .Author | linkPath }})

{{ .Msg.BodyMD }}
{{end}}

{{define "forum_saved"}}
    # Forum Created/Edited
    Forum: {{.Forum}}
    Description: {{.Description}}
{{end}}
