@import 'foundationSettings';
@import '~foundation-sites/scss/util/util';
@import '~foundation-sites/scss/util/mixins';
@import '~foundation-sites/scss/components/dropdown-menu';
@import '~foundation-sites/scss/components/dropdown';
@import '~foundation-sites/scss/components/menu';
@import '~foundation-sites/scss/components/button';
@import '~foundation-sites/scss/components/table';
@import '~foundation-sites/scss/xy-grid/xy-grid';
@import '~foundation-sites/scss/components/callout';
@import "~motion-ui/motion-ui";
@import "icons";

.global_round {
  border-radius: 5px;
}

#header_nav {
  li > a {
    font-weight: 700;
  }

  li > ul {
    border: 0;
  }

  li:hover {
    background-color: lighten($body-background, 3%);
  }

  .avatar {
    height: 20px;
    width: 20px;
  }
}

.paginator {
  .number_input {
    color: $primary-color;
    border: 0;
    font-weight: 700;
    //border: 1px solid $primary-color;
    width: 5em;
    text-align: center;
  }
}

.news_editor {
  textarea {
    min-height: 500px;
  }

  input[type="date"] {
    width: 150px;
  }
}

#admin_news_list {
  .news_row {
    @extend .global_round;
    background-color: lighten($body-background, 2%);

    &:hover {
      background-color: lighten($body-background, 5%);
    }

    margin-bottom: 1em;

    p, h6 {
      padding: $button-padding;
      margin-bottom: 0;
    }

    .button {
      margin-bottom: 0;
    }
  }

}

#footer {
  text-align: center;
}

html {
  //background-image: url("../img/prism.png");
  //background-repeat: repeat;
}

.btn_login {
  background-image: url("../img/steam_login_sm.png");
  width: 154px;
  height: 23px;
  background-repeat: no-repeat;
}

#ban_list {
  .ban_row {
    line-height: 32px;

    span {
      padding-left: 0.4em;
    }

    &:hover {
      background-color: darken($body-background, 5%);
    }
  }
}

#server_list {
  .row {
    line-height: 32px;

    span {
      padding-left: 0.4em;
    }

    &:hover {
      background-color: darken($body-background, 5%);
    }
  }

  .heading {
    font-weight: 700;
    font-size: 125%;
    text-align: center;
  }

  .connect {
    background-color: #28bf60;
    text-align: center;
    color: #1b1b1b;
    font-weight: 700;
    display: inline-block;
    width: 100%;
  }
}

.img_32 {
  display: inline-block;
  height: 32px;
  width: 32px;
  background-color: transparent;
}

.os-linux {
  @extend .img_32;
  background-image: url("../img/os-linux.png");
  background-repeat: no-repeat;
}

.os-windows {
  @extend .img_32;
  background-image: url("../img/os-windows.png");
}

.vac-on {
  @extend .img_32;
  background-image: url("../img/vac-on.png");
}

.vac-off {
  @extend .img_32;
  background-image: url("../img/vac-off.png");
}

.game-440 {
  @extend .img_32;
  background-image: url("../img/game-440.png");
}

.game-240 {
  @extend .img_32;
  background-image: url("../img/game-240.png");
}

.game-730 {
  @extend .img_32;
  background-image: url("../img/game-730.png");
}