{{define "vote_result"}}
    # Vote Result
    Caller SID: {{ .SourceID }}
    Target Name: {{ .TargetName }}
    Target SID: {{ .TargetSID }}
    Code: {{ .Code }}
    Success: {{ .Success }}
    Server: {{ .ServerID }}
{{end}}