{{define "content"}}
    <div class="grid-container">
        <div class="grid-y grid-padding-y">
            <div class="cell">
                <h1 class="text-center">Manage People</h1>
            </div>
            <div class="cell">

            </div>
        </div>
    </div>
{{end}}

{{define "title"}}Profile Settings{{end}}