{{define "content"}}
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell large-12">
                <h1>Ban Form</h1>
                <div id="player_ban_form"></div>
            </div>
        </div>
    </div>
{{end}}

{{define "title"}}Ban a Player{{end}}