{{define "content"}}
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <p>Put ban stuff here.</p>
        </div>
    </div>
{{end}}

{{define "title"}}Global Ban list{{end}}