{{define "content"}}
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell medium-6">
                Home
            </div>
            <div class="cell medium-6">

            </div>
        </div>
    </div>
{{end}}

{{define "title"}}Home{{end}}