{{define "content"}}
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell medium-10">
                <h1>Recent Bans</h1>
                <div id="ban_list"></div>
            </div>
            <div class="cell medium-2">
                <h1>Stats</h1>
                <div id="stats"></div>
            </div>
        </div>
    </div>
{{end}}

{{define "title"}}Home{{end}}