---
IndentWidth: 4
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
BreakBeforeBinaryOperators: NonAssignment
BreakStringLiterals: false
ColumnLimit: 120

---
