{{define "login_info"}}
SteamID: **{{ .Person.GetSteamID | sidString }}**
Name: ** {{.Person.GetName }}**
Permissions: **{{.Person.Permissions.String }}**
Vac Bans: **{{.Person.VacBans }}**
Game Bans: **{{.Person.GameBans }}**
{{end}}
