name: release

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  release:
    name: "release"
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.head_ref }}
          fetch-depth: 0
      - uses: extractions/setup-just@v3
      - uses: actions/setup-go@v5
        with:
          go-version: "stable"

      - uses: pnpm/action-setup@v4
        with:
          version: 9
          run_install: false

      - name: Setup nodejs
        uses: actions/setup-node@v4
        with:
          node-version: "24.x"
          cache: "pnpm"
          cache-dependency-path: "frontend/pnpm-lock.yaml"

      - name: Install modules
        working-directory: ./frontend
        run: pnpm install --frozen-lockfile --strict-peer-dependencies

      - name: Build frontend
        working-directory: ./frontend
        run: pnpm build
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_URL: ${{ env.SENTRY_URL }}
          SENTRY_ORG: ${{ env.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ env.SENTRY_PROJECT }}
          VITE_BUILD_VERSION: ${{ inputs.version }}
          VITE_SENTRY_DSN: ${{ secrets.SENTRY_DSN_FRONTEND }}

      - name: Setup SourcePawn Compiler
        uses: rumblefrog/setup-sp@master
        with:
          version: "1.13.x"

      - name: Build sourcemod plugin
        working-directory: ./sourcemod/scripting
        run: spcomp -i"./include/" gbans.sp -o ../plugins/gbans.smx

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      #      - name: Import GPG key
      #        id: import_gpg
      #        uses: crazy-max/ghaction-import-gpg@v6
      #        with:
      #          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
      #          passphrase: ${{ secrets.PASSPHRASE }}

      - uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --clean
        env:
          SENTRY_DSN: ${{ secrets.SENTRY_DSN_BACKEND }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          #          DISCORD_WEBHOOK_ID: ${{ secrets.DISCORD_WEBHOOK_ID }}
          #          DISCORD_WEBHOOK_TOKEN: ${{ secrets.DISCORD_WEBHOOK_TOKEN }}
          GPG_FINGERPRINT: ${{ steps.import_gpg.outputs.fingerprint }}

      - name: Upload snapshot
        uses: actions/upload-artifact@v4
        with:
          name: snapshot
          #pattern: snapshot-*
          #merge-multiple: true
          path: build/*
          retention-days: 1
          overwrite: true

      - name: Update contributor list
        uses: akhilmhdh/contributors-readme-action@v2.3.10
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # - name: Create Sentry release
      #   uses: getsentry/action-release@v3
      #   env:
      #     SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      #     SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
      #     SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
      #   with:
      #     environment: production
      #     version: ${{ inputs.version }}
      #     sourcemaps: frontend/dist/assets
