name: Test docs deployment

on:
  pull_request:
    branches:
      - master
    # Review gh actions docs if you want to further define triggers, paths, etc
    # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#on

jobs:
  test-deploy:
    name: Test deployment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4
        with:
          version: 9
          run_install: false

      - name: Setup nodejs
        uses: actions/setup-node@v4
        with:
          node-version: "24.x"
          cache: "pnpm"
          cache-dependency-path: "docs/pnpm-lock.yaml"

      - name: Install modules
        working-directory: ./docs
        run: pnpm install --frozen-lockfile --strict-peer-dependencies

      - name: Install modules
        working-directory: ./docs
        run: pnpm build
