name: Docker Image CI

on: [push]

jobs:

build:
  runs-on: ubuntu-latest
  env:
    DATABASE_URL: ${{ secrets.DATABASE_URL }}
    DJANGO_SETTINGS_MODULE: app_name.settings.dev
    SECRET_KEY: ${{ secrets.SECRET_KEY }}
    PORT: 8000
    PG_DB: ${{ secrets.PG_DB }}
    PG_PASS: ${{ secrets.PG_PASS }}
    PG_USER: ${{ secrets.USER }}
  
  steps:
    - uses: actions/checkout@v1
    - name: Build the docker-compose stack
      run: docker-compose up -d
    - name: Sleep
      uses: jakejarvis/wait-action@master
      with:
        time: '60s'
        - name: Check running containers
          run: docker ps
    - name: Run test suite
      run: docker exec make test
